.slide-form {
  text-align: left;

  .row {
    position: relative;
    color: $bg-color-1;
    background-color: transparent;
    // height: 100%;
  }

  .overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    // justify-content: center;
    margin-top: 17vh;
    max-width: $base-unit * 49;
    width: 100%;
    // padding: 0 $base-unit;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include max-screen($screen-m) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .is-done & {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    > :first-child {
      flex: 3;
    }

    > :last-child {
      flex: 4;
    }
  }

  .zadani {
    margin: 0 $base-unit $base-unit;
    padding: 0;

    > * {
      text-shadow: 0 1px 0.38em rgba($text-color, 0.62);
    }

    @include min-screen($screen-l) {
      margin: 0 $base-unit $base-unit 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: $base-unit;
  }

  .anotation {
    max-width: $base-unit * 35;
  }

  .form-inner {
    color: $text-color;
    background: rgba($bg-color-1, 0.95);
    box-shadow: $box-shadow;
    border-radius: $base-border-radius;
    padding: $base-unit;
    margin: ($base-unit * 0.25) auto $base-unit;
    // max-width: $base-unit * 26;
  }

  .form-fieldset {
    display: flex;
    flex-direction: column;
    padding: $base-unit * 0.25;
    border: 0;
  }

  .form-label {
    margin-bottom: $base-unit / 8;
    font-size: ms(-1);
    line-height: ms-line-height(-1);
  }

  .form-legend {
    flex: 1;
    display: block;
    color: $bg-color-2;
    font-size: ms(-2);
    letter-spacing: .05em;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    .text-small {
      color: rgba($text-color, .8);
      letter-spacing: initial;
      text-transform: initial;
    }
  }

  .form-fieldset-user,
  .form-fieldset-group-members {
    text-align: left;

    .form-label {
      display: block;
    }
  }

  .form-fieldset-exercise-mode {
    text-align: center;

    .form-input,
    .form-label {
      cursor: pointer;
    }

    .form-item {
      margin-right: 0 !important;
    }

    .form-label {
      display: inline-block;
      padding: 0 $base-unit * .25;

      @include min-screen($screen-l) {
        padding: 0 $base-unit;
      }
    }
  }

  .form-fieldset-group-members {
    .fieldset-inner {
      overflow: auto;
      max-height: $base-unit * 6;
    }

    .button {
      align-self: flex-end;
    }
  }

  input[type="email"],
  input[type="text"] {
    display: block;
    border: 1px solid transparent;
    line-height: $base-line-height;
    padding: ($base-unit / 4) ($base-unit / 2);
    background-color: $bg-color-1;
    border-radius: $base-border-radius;
    font-size: ms(-1);
    width: 100%;
    min-width: $base-unit * 9;
    margin-bottom: $base-unit * 0.5;

    &:last-child {
      margin-bottom: 0;
    }

    &:focus {
      border: 1px solid darken($bg-color, 10);
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba($text-color, 0.5);
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba($text-color, 0.5);
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba($text-color, 0.5);
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: rgba($text-color, 0.5);
    }
  }

  svg {
    fill: currentColor;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $base-unit * 0.5;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-item {
  flex: 1;
  margin-bottom: $base-unit * 0.5;

  .form-row > &:not(:last-child) {
    @include min-screen($screen-s) {
      margin-right: $base-unit * 0.5;
    }
  }
}

input.is-readonly {
  color: $color-bg--4;
  color: #00AA58;
  cursor: default;
  pointer-events: none;
}
